{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container">

        {% if not app.user %}
            <h1>Login</h1>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger">
                {{ error.message }}
            </div>
            {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
        {% endif %}

        {% if not app.user %}

            <form action="{{ path('app_login') }}" method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                           placeholder="Enter email" name="_email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="_password" required>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="_remember_me"> Remember me
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button type="submit" class="btn btn-primary">
                    Login
                </button>
            </form>
        {% else %}

            You are logged in as <b>{{ app.user.email }}</b>, <a href="{{ path('app_logout') }}">Logout</a>

        {% endif %}
    </div>

{% endblock %}